ul.nav.nav-pills
  li: a(data-ui-sref="user.list") User
  li: a(data-ui-sref="project") Project
  li: a(data-ui-sref="signup") Signup
  li: a(href="JavaScript:void(0);", data-ng-click="logout()") Logout
